extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Nick Moore

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript Developer

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | Hi there and welcome to my project portfolio!  For the last few months, I have been learning the basic tools to become a front-end developer.  Though I am new to coding, I have over 7 years of experience in product development engineering.
            | I believe my background in designing physical goods has allowed me a unique appreciation for the design and development of code.  I get particular satisfaction from the ability to instantly test something I built – no more waiting weeks/months for prototype samples to be made!
            | Feel free to check out my code and try to break things.  As I progress through my learning, I plan to update this site and add future work.  I hope you have as much fun browsing my projects as I did putting them together!
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li JavaScript
          li HTML
          li CSS
          li Node.js
          li Express
          li Etc.
        h6 Contact Info

        //- Add your own contact info
        ul
          li 734-395-5305
          li nicholas.moore5@icloud.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://github.com/NMoore42') GitHub

  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
